
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="privacy about">
    <h3>Về Chúng Tôi</h3>
    <br />
    <div class="animi" style="font-size: 16px;">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Chính thức ra mắt từ tháng 2020, website thương mại điện tử MyStore cung cấp các sản phẩm thuộc các nền tảng Game online, offline thông dụng nhất trên thị trường.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Mục tiêu mà chúng tôi hướng tới là trở thành website trực tuyến cung cấp game số 1 tại Việt Nam. Tiện lợi, nhanh chóng & tin cậy trong thị trường thương mại điện tử với đa dạng chủng loại về sản phẩm & dịch vụ được đảm bảo.
        Khi mua hàng trên MyStore, khách hàng sẽ được hưởng các tiện ích sau:
    </p>
    <p>
        &nbsp;&nbsp;- Dịch vụ chăm sóc khách hàng đáo trước & sau khi mua hàng.
    </p>
    <p>
        &nbsp;&nbsp;- Giao hàng nhanh chóng & chu đáo:
    </p>
    <p>
        &nbsp;&nbsp;+ Trong vòng 24h đối với đơn hàng khu vực nội thành HN, TP.HCM & các tỉnh lân cận.
    </p>
    <p>
        &nbsp;&nbsp;+ Trong vòng 48h – 120h đối với đơn hàng tại các tỉnh/ thành phố khác.
    </p>
    <p>
        &nbsp;&nbsp;+ Khách hàng kiểm tra được trạng thái vận chuyển của đơn hàng (biết được đơn hàng đã được vận chuyển đến địa điểm nào/ tỉnh nào….)
    </p>
    <p>
        &nbsp;&nbsp;+ Uy tín trong giao dịch: website MyStore được sự đảm bảo của Công ty cổ phẩn MyStore & được đăng ký tại Bộ Công Thương Việt Nam.
    </p>
   </div>
    <div class="agile_about_grids">
        <div class="col-md-6 agile_about_grid_right" style="text-align:center"  >
            <img src="/Assets/Client/images/About.jpg" alt="" class="img-responsive" />
        </div>
        
        <div class="clearfix"> </div>
    </div>
</div>